@model SafestRouteApplication.Models.ObserverDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Observer</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Phone Numbers on Your Account")
        </th>

    </tr>
    @foreach (var item in Model.Numbers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>

        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
