@model SafestRouteApplication.Models.ObserverDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="HomePageHeader">
    <h2>
        View Account Details
    </h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Edit Account Details", "Edit", "Observers", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Add/Edit Phone Numbers", "AddPhoneNumber", "Observers", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • Create/Remove an Avoidance Route", "AddCustomAvoidance", "Observers", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • View an Avoidance Route", "ViewAvoidanceRoute", "Observers", new { @class = "ActionClass" })<br />
        </div>
    </div>
    <div class="col-md-8">
        <div class="SideBar">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>
        </div>
    </div>
</div>

<br/>
<table class="table" id="IndexTable">
    <tr>
        <th>
            @Html.DisplayName("Phone Numbers on Your Account")
        </th>

    </tr>
    @foreach (var item in Model.Numbers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>

        </tr>
    }

</table>

