@model SafestRouteApplication.Models.AvoidanceRouteViewModel
@{
    ViewBag.Title = "ViewAvoidanceRoute";
}

<div class="HomePageHeader">
    <h2>View Avoidance Route</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Edit Account Details", "Edit", "Observers", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Add/Edit Phone Numbers", "AddPhoneNumber", "Observers", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • View Account Information", "Details", "Observers", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Create/Remove an Avoidance Route", "AddCustomAvoidance", "Observers", new { @class = "ActionClass" })<br />
        </div>
    </div>
    <div class="col-md-8">
        <div id="map"></div>
        @using (Html.BeginForm("ViewAvoidanceRoute", "Observers"))
        {
        <div class="form-horizontal">
            <div class="HomePageHeader">
                <h3>View a Route</h3>
                <div class="form-group">Please select the route to view.</div>
            </div>
            @Html.DropDownListFor(model => model.id, (SelectList)Model.RouteNames, new { @class = "form-control" })
            <input type="submit" value="View Route" class="btn btn-default" />
        </div>
        }
        <br />

        <script>

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(41.881832, -87.623177),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            })

            var infowindow = new google.maps.InfoWindow({});
            placeMarkers();
            function placeMarkers() {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(@Model.TopLeftLatitude,@Model.TopLeftLongitude),
                    map: map,
                })
                var secondmarker = new google.maps.Marker({
                    position: new google.maps.LatLng(@Model.BottomRightLatitude,@Model.BottomRightLongitude),
                    map: map,
                })
            }

        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWL84dG2bkXEffwiI8MGLOJHzYWSSdWI&callback=initMap"
                async defer></script>
    </div>
</div>

