@model List<SafestRouteApplication.Models.SavedRoute>
@{
    ViewBag.Title = "View Saved Routes";
}

<div class="HomePageHeader">
    <h3>ViewSavedRoutes</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Add/Edit Phone Numbers", "AddPhoneNumber", "Observers", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • View Account Information", "Details", "Observers", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Create/Remove an Avoidance Route", "AddCustomAvoidance", "Observers", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • View an Avoidance Route", "ViewAvoidanceRoute", "Observers", new { @class = "ActionClass" })<br />
        </div>
    </div>
    <div class="col-md-8">
        <table class="table" id="IndexTable">
            @{
                foreach (var x in Model)
                {
                    <tr><td>@x.name</td><td>@Html.ActionLink(" • View Route ", "ViewRoute", x)</td></tr>
                }
            }
        </table>
    </div>
</div>