@model SafestRouteApplication.Models.Observee

@{
    ViewBag.Title = "Details";
}

<div class="HomePageHeader">
    <h2>User Account Details</h2>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Leave a Comment", "LeaveComment", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Add/Change an Observer on Your Account", "ChangeObserver", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Edit Account Info", "Edit", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • View an Avoidance Route", "ViewAvoidanceRoute", "Observers", new { @class = "ActionClass" })<br />
        </div>
    </div>
    <div class="col-md-8">
        <div class="details">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayName("Observer UserName")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observer.ApplicationUser.UserName)
                </dd>

            </dl>
        </div>
    </div>
</div>


