
@model  SafestRouteApplication.Models.Observee
@{
    ViewBag.Title = "Observee Home";
}
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Leave a Comment", "LeaveComment", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Add/Change an Observer on Your Account", "ChangeObserver", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Edit Account Info", "Edit", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • View Account Info", "Details", "Observees", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • View Saved Routes", "ViewSavedRoutes", "Observees", new { @class = "ActionClass" })<br/>
            @Html.ActionLink(" • Navigate a Route", "Navigate", "Observees")<br />
        </div>
        <div id="ButtonDiv">
            <input type="button" id="PanicButton" value="PANIC BUTTON" onclick="@("window.location.href='" + @Url.Action("PanicButton", "Observees", new { id = Model.id }) + "'");" />
        </div>
    </div>
    <div class="col-md-8">
       
    </div>
</div>
