@model List<SafestRouteApplication.Models.SavedRoute>
@{
    ViewBag.Title = "ViewSavedRoutes";
}

<div class="HomePageHeader">
    <h3>ViewSavedRoutes</h3>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="SideBar">
            @Html.ActionLink(" • Leave a Comment", "LeaveComment", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Add/Change an Observer on Your Account", "ChangeObserver", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • Edit Account Info", "Edit", "Observees", new { @class = "ActionClass" }) <br />
            @Html.ActionLink(" • View Account Info", "Details", "Observees", new { @class = "ActionClass" })<br />
            @Html.ActionLink(" • Navigate a Route", "Navigate", "Observees")<br />
        </div>
    </div>
    <div class="col-md-8">
        <div class="Directions">
            <table class="table" id="IndexTable">
                @{
                    foreach (var x in Model)
                    {
                        <tr><td>@x.name</td><td>@Html.ActionLink(" • View Route ", "ViewRoute", x)</td></tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
